.travel-line__round {
  position: absolute;
  top: 100%;
  left: 640.65px;
  width: 2px;
  height: 2px;
  transform: translateY(-50%);
  border-radius: 50%;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
}
