.travel__button-container {
  width: 642px;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  position: relative;
}

@media (max-width: 1350px) {
  .travel__button-container {
    width: 100%;
  }
}
