.main__img {
  position: absolute;
  left: 0;
  right: 0;
  top: 21vh;
  bottom: 0;
  margin: 0 auto;
  height: 59vh;
  width: 59vh;
  min-height: 353px;
  min-width: 353px;
}

@media (max-width: 1350px) {
  .main__img {
    display: none;
  }
}