.header__menu-toggle {
  opacity: 0;
  position: absolute;
}

.header__menu-toggle:checked~.header__menu-button>.header__menu-span {
  transform: rotate(45deg);
}

.header__menu-toggle:checked~.header__menu-button>.header__menu-span:before {
  top: 0;
  transform: rotate(0);
}

.header__menu-toggle:checked~.header__menu-button>.header__menu-span:after {
  top: 0;
  transform: rotate(90deg);
}

.header__menu-toggle:checked~.navigation {
  visibility: visible;
}

@media screen and (min-width: 943px) {
  .header__menu-toggle {
    display: none;
  }
}

