.travel__btn {
  border-image: linear-gradient(45deg, #577fb3, #101f2d, #577fb3);
  border-image-slice: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: 184px;
  height: 34px;
  font-size: 14px;
  font-weight: 100;
  color: white;
  position: relative;
  transition: transform linear .5s;
  cursor: pointer;
}

.travel__btn:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-image: linear-gradient(45deg, #2a64b1, #081d30, #2a64b1);
  border-image-slice: 1;
  animation: pulse 10s ease-in-out infinite alternate-reverse;
  transform: scale(1.1);
  opacity: .6;
}

.travel__btn:before {
  bottom: -2px;
  left: -2px;
  height: 5px;
  width: 5px;
  position: absolute;
  content: " ";
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.travel__btn:after {
  top: -2px;
  right: -2px;
  height: 5px;
  width: 5px;
  position: absolute;
  content: " ";
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.travel__btn:hover:before,
.travel__btn:hover:after {
  width: 10px;
  height: 10px;
}

@media (max-width: 943px) {
  .travel__btn {
    margin: 0 auto;
  }
}
