.footer {
  font-family: "Museo Sans",
  Arial,
  sans-serif;
  font-size: 18px;
  font-weight: 300;
  max-width: 1288px;
  margin: 0 auto;
  flex-shrink: 0;
  text-align: right;
}

@media (max-width: 1350px) {
  .footer {
    padding-bottom: 20px;
  }
}
