.travel__title-span {
  font-size: 25px;
  font-weight: 400;
  background: linear-gradient(to left, #ff3f04 0%, #ffffff 90%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 21vh;
}

@media (max-width: 943px) {
  .travel__title-span {
    -webkit-text-fill-color: white;
    background: transparent;
    text-align: center;
    margin-bottom: 7vh;
  }
}

@media (max-width:550px) {
  .travel__title-span {
    margin-bottom: 4vh;
  }
}
