.info__item {
  text-align: center;
  background: linear-gradient(135deg, transparent 100%, rgba(255, 255, 255, 0.425));
  color: rgba(255, 255, 255, 0.719);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 50px;
}

.info__item:nth-child(1) {
  background: linear-gradient(135deg, transparent 50%, rgba(243, 238, 238, 0.1));
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.info__item:nth-child(2) {
  background: linear-gradient(-135deg, transparent 50%, rgba(211, 211, 211, 0.1));
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.info__item:nth-child(3) {
  background: linear-gradient(45deg, transparent 50%, rgba(211, 211, 211, 0.1));
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
}

.info__item:nth-child(4) {
  background: linear-gradient(-45deg, transparent 50%, rgba(211, 211, 211, 0.1));
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;

}

.info__item:nth-child(1):hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, transparent 50%, rgba(211, 211, 211, 0.2));
  border-image: linear-gradient(135deg, transparent 60%, rgba(211, 211, 211, 0.6));
  border-image-slice: 1;
}

.info__item:nth-child(2):hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(-135deg, transparent 50%, rgba(211, 211, 211, 0.2));
  border-image: linear-gradient(-135deg, transparent 60%, rgba(211, 211, 211, 0.6));
  border-image-slice: 1;
}

.info__item:nth-child(3):hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, transparent 50%, rgba(211, 211, 211, 0.2));
  border-image: linear-gradient(45deg, transparent 60%, rgba(211, 211, 211, 0.6));
  border-image-slice: 1;
}

.info__item:nth-child(4):hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(-45deg, transparent 50%, rgba(211, 211, 211, 0.2));
  border-image: linear-gradient(-45deg, transparent 60%, rgba(211, 211, 211, 0.6));
  border-image-slice: 1;
}

@media (max-width: 450px) {
  .info__item {
    height: 185px;
  }
}
